<div class="sidenav">
  <%= link_to "Listes", products_path %>
  <a href="#">Recherche</a>
  <%= link_to "Ajout", new_product_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modalNewProduct'} %>
  <a href="#">About</a>
</div>